# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
pids
logs
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Environment variables
.env*

# Optional: OS-specific files
Thumbs.db

# Java / Spring Boot
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

.DS_Store

*.class

bin/
.settings/
logs/
.vscode/

# Eclipse files
.project
.classpath
.metadata/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml

### VS Code ###
.vscode/

# Maven files
target/

# Gradle files
build/